<!DOCTYPE html>
<html lang="en">
<head>

	{% block title %}<title>Luke's forum</title>{% endblock %}
	 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>



	<a href="{% url 'myblog:home' %}">Home</a><br>
	Forums:
	Video games:	
    <a href="{% url 'myblog:ffbe' %}">FFBE</a> &nbsp;&nbsp;&nbsp;
    Technology:
    <a href="{% url 'myblog:python' %}">Python</a> &nbsp;&nbsp;&nbsp;
    High Strangeness:
    <a href="{% url 'myblog:highstrangeness' %}">High Strangeness</a> &nbsp;&nbsp;&nbsp;<br>
    Post new thread:
    <a href="{% url 'myblog:new' %}">Post new thread</a> -
    {% if user.is_authenticated %}
    User: {{ user.get_username }} 
    <a href="{% url 'users:logout'%}?next={{request.path}}">Logout</a>
    {% else %} 
    <a href="{% url 'users:register' %}">Register</a> -
    <a href="{% url 'users:login' %}">Login</a> 
    {% endif %}

{% block content %} {% endblock content %}